$color-title:#4D4D4D;
$color-buttons:#FBB900;
.MainPage{
    margin:  9rem 0 0 0;

    .Section{
        font-weight: bolder;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        h3{
            color: $color-title;
            font-weight: bolder;
            font-size: 32px;
            margin: 0 auto 24px 50px;
        }


        .TitleOptions{
            display: flex;
            justify-content: space-between;
            h3{
                margin: 0 auto 24px 50px;

            }
            .Options{
            margin: 0 50px 24px auto;

                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-buttons;
                p{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: $color-buttons;
                    margin: 10px 0;
                    text-align: center;
                    text-decoration-line:underline
                }
                // .IconLeft{
                // }
                // .IconRight{
                // }
            }
        }
        .DotArea{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            p{
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: $color-buttons;
                margin: 10px 0;
                text-align: center;
                text-decoration-line:underline
            }
        }

        .openProduct{
            position: fixed;
            top:0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 99999;
            height: 100vh;
            background-color: #00000050;
            display: flex;
            justify-content: center;
            align-items: center;
           }

        .CarouselGroup{
            display: flex;
            justify-content: space-evenly;
           
        }
    }
    .DotDogGroup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px auto 0 280px;
     
    }
    
}